.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #171919;
    width:100%;
    /* overflow-x: scroll; */
    overflow-y: hidden;

    .sensing-navbar{
        max-height: 2.5rem;
        width: 100%;
        background-color: #1C1D1D;
        display:flex;
        align-items: center;
        
        position: 'sticky';
        top:0;
        z-index: 1000;
        .content{
            color: #8C9190;
            text-align:left;
            font-weight: 700;
        }
    }  
    .main-content{
        display: flex;
        flex:1;
        width:100%;

        .chat-container{
            width: 70%;
            display: flex;
            flex-direction: column;
            max-height:100vh;            
            justify-content: space-between;
            .chat-content{
                display: flex;
                flex-direction: column;
                flex:1;
                overflow-y: scroll;
            }
            .chat-content::-webkit-scrollbar {
                width: 10px; /* Width of the scrollbar */
            }
            
            .chat-content::-webkit-scrollbar-track {
                background: #2c2c2e; /* Background of the scrollbar track */
                border-radius: 10px; /* Rounded corners for the track */
            }
            
            .chat-content::-webkit-scrollbar-thumb {
                background: #555; /* Color of the scrollbar thumb */
                border-radius: 10px; /* Rounded corners for the thumb */
            }
            
            .chat-content::-webkit-scrollbar-thumb:hover {
                background: #888; /* Color of the thumb on hover */
            }
            
            /* For Firefox */
            .chat-content {
                scrollbar-width: thin; /* Make scrollbar thin */
                scrollbar-color: #555 #2c2c2e; /* Thumb color and track color */
            }
            /* .prompt-input{
                bottom:0;
                position:sticky;
                background: #212223;
                width:100%;
                border: 3px solid #8C9190;
                height:2rem;
                border-radius: 12px;
                display: flex;
                padding:0.5rem;
                flex-direction: column;

                .magic-button{
                    height:30%;
                    width: 30%;
                    border-radius: 50%;
                    border: none;
                    background-color: #49454F;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    align-self: flex-end;
                }
            } */
            .prompt-input{
                bottom:0;
                position:sticky;
                padding:1%;
               
            }


                        
        }
        .chat-container::-webkit-scrollbar {
            display: none; /* Hide scrollbar */
        }
        .plot-container{
            width: 30%;
            display: flex;
            
        }
    } 

}