.container{
    display: flex;    
    height: 100vh;
    width:100vw;
    background: #171919 ;
    overflow-y: auto;
    overflow-x: hidden;
    
    .side-nav{
        min-width: 5rem;
        height: 100vh;
        background: #1C1D1D;  
        position: sticky;
        .side-nav-container{
            /* height:100%; */
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin: 2px;
            
            .util-buttons{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap:3rem;
                padding: 0.7rem;

                .new-button{
                    height:2.5rem;
                    width: 2.5rem;
                    border-radius: 50%;
                    border: none;
                    background-color: #49454F;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                }
            }
            .support-buttons{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap:3rem;
                padding: 0.7rem;
            }

        }

        /* border: 1px solid pink; */
    }
    @media (max-width: 600px) {
        .side-nav {
            display:none;
        }
    }
    .content-container{
        flex:1;
        background: #171919;
        display:flex;
        flex-direction: column;
        align-items: center;
        /* border: 1px solid red; */
        .navbar {
            display: none;
        }
          
        @media (max-width : 650px) {
            .navbar {
                display:flex;
                width:100%;
                background-color: #1C1D1D;
                justify-content: space-between;
                margin: 2px;
                
                .options{
                    display: flex;
                    align-items: center;
                    gap:0.6rem;
                    z-index: 1500;
                    .logo{
                        font-weight: 800;
                        color:white;
                        font-size: 1.563rem;
                    }
                }
            }
        }

    
    }

    
}
.container::-webkit-scrollbar {
    /* width: 5px; */
  }
.container::-webkit-scrollbar-track {
    background-color: transparent;
  }
.container ::-webkit-scrollbar-thumb {
    background-color: #8C9190;
    border-radius: 2px;
    height: 10px;
} 
.container ::-webkit-scrollbar-thumb:hover {
    background-color: #8C9190;
  }

